.main-box{
    position: relative;
    width: 500px;
    height: 500px;
    background: linear-gradient(to left, aqua, cyan);
    overflow: hidden;
}

.child-box{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 100%;
    background: linear-gradient(to right, red,yellow);
    transition: 1s;
   
} 
.child-box a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 2px solid #ffffff;
    padding: 5px 15px;
    margin: 200px auto;
    color: whitesmoke;
}
.main-box:hover .child-box{
    top:0;
    left: 0;
    transition: 1s;
    display: inline-block;
  
}